<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BoBGate - Commute</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'commute/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'commute/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'commute:index' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">BoBGate</div>
            </a>
            <hr class="sidebar-divider my-0">

            {% if request.user.username == 'user'%}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin:index' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>관리</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            {% endif %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>로그인/로그아웃</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login/Logout:</h6>
                        {% if user.is_authenticated %}
                        <a class="collapse-item" href="{% url 'commute:logout' %}">Logout</a>
                        {% else %}
                        <a class="collapse-item" href="{% url 'commute:login' %}">Login</a>
                        <a class="collapse-item" href="{% url 'commute:register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">
                            {% if user.is_authenticated %}
                            {{user}}님 환영합니다.
                            {% else %}
                            로그인이 필요합니다.
                            {% endif %}
                        </h1>
                    </div>
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'commute/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'commute/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'commute/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'commute/js/sb-admin.min.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>