{% extends "commute/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col">
        {% if user.is_authenticated %}
        <ul class="list-group">
            {% for board in object_list %}
            {% if request.user.username == 'user' %}
            <li class="list-group-item">{{board.name}}님의 {{board.upload|date:"Y년 m월 근무표"}}<br><a
                    href="{% url 'commute:board_detail' board.pk%}">{{board.title}}</a></li><br>
            {% elif request.user == board.name %}
            <li class="list-group-item">{{board.name}}님의 {{board.upload|date:"Y년 m월 근무표"}}<br><a
                    href="{% url 'commute:board_detail' board.pk%}">{{board.title}}</a></li><br>
            {% else %}
            <li class="list-group-item">{{board.name}}님의 {{board.upload|date:"Y년 m월 근무표"}}<br>{{board.title}}</li><br>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}
{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %} {% endfor %} {% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %} {% endif %}
<br>
<a href = "{% url 'commute:addBoard' %}"><button type="submit" class="btn btn-primary">등록하기</button></a>
{% else %}
<div class="col-lg-6 mb-4">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'commute:login' %}">로그인</a></h6>
        </div>
        <div class="card-body">
            <h6>계정이 없으시다면 <a href="{% url 'commute:register' %}">회원가입</a></h6>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}