{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }} 
        조회수:{% load hitcount_tags %}
        {% get_hit_count for object %}
      </small>
      {% if object.author == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
      </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.content }}</p>
  </div>
</article>
<hr>
<h5>댓글을 남기세요</h5>
<form action="{% url 'comment-write' pk=post.pk %}" method="POST">
  {% csrf_token %}
  <input type="text" name="body" placeholder="댓글을 입력하세요">
  <input type="submit" value="등록" />
</form>
<hr>
{% for comment in object.comments.all %}
<p><strong><a href="{% url 'user-posts' comment.author.username %}">{{comment.author}}</a></strong> {{comment.body}}</p>
<p>{{comment.date_posted}} <a href = "{% url 'comment-delete' post_pk=post.pk pk=comment.pk %}">삭제</a></p>
<hr>
{% empty %}
<p>댓글이 없습니다.</p>
{% endfor %}
{% endblock content %}