{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{category.name}}
{% else %}Products
{% endif %}
{% endblock %}

{% block content %}
{% for product in products %}
<div class="col-lg-3 col-md-6 mb-4">
    <div class="card border-dark h-100 w-75">
        <a href="{{ product.get_absolute_url }}"><img class="card-img-top"
                src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href='{{ product.get_absolute_url }}'>{{ product.name }}</a>
            </h4>

            <p class="card-text">
                {{product.description|truncatechars:100}}
            </p>
        </div>
        <div class="card-footer">
            <h5>{{product.price}}원</h5>
        </div>
    </div>
</div>
{% if forloop.counter|divisibleby:4 %}
<div class="line"></div>
{% endif %}
{% endfor %}
{% endblock %}